[include]
    path = .gitconfig.local

[user]
    name = Eduardo Weiland

[core]
    editor = nvim

[alias]
    st = status
    ts = status
    t = status
    co = checkout
    br = branch
    ci = commit
    re = rebase
    di = difftool
    tree = log --graph --pretty=oneline --abbrev-commit
    brlog = "!git for-each-ref --sort=-committerdate refs/heads --format='%(HEAD)%(color:yellow)%(refname:short)|%(color:bold green)%(committerdate:relative)|%(color:blue)%(subject)%(color:reset)' --color=always | column -ts'|'"
    authors = shortlog -s -n --no-merges origin/master

[push]
    default = simple

[color]
    ui = auto

[diff]
    tool = meld

[difftool]
    prompt = false

[merge]
    renamelimit = 2000
[pull]
    ff = only
[init]
    defaultBranch = main
