configuration {
    modi: "drun,run,window";
    font: "Source Sans 3 Semibold 14";
    show-icons: true;
    icon-theme: "Flat-Remix-Green-Dark";
}

@theme "android_notification"

element-icon {
    size: 1em;
}
